.not-found-container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.not-found-content {
    padding: 2rem;
}

.not-found-content h1 {
    font-size: 6rem;
    font-weight: bold;
    color: #bbbbbb;
    margin-bottom: 1rem;
}

.not-found-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.not-found-content p {
    color: #666;
    margin-bottom: 2rem;
}

@media (max-width: 576px) {
    .not-found-content h1 {
        font-size: 4rem;
    }

    .not-found-content h2 {
        font-size: 1.5rem;
    }
} 